inTimePayServer/Service References/paySOAService/paymentSOA4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/paymentSOA/paymentSOA.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/paymentSOA" />
  <xs:element name="createBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/paymentSOA" minOccurs="0" name="para" nillable="true" type="q1:inTimeReqPara" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/paymentSOA" minOccurs="0" name="createBillResult" nillable="true" type="q2:paymentEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="paymentResultHook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/paymentSOA" minOccurs="0" name="payResult" nillable="true" type="q3:inTimeEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="paymentResultHookResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="createBillHelp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/paymentSOA" minOccurs="0" name="para" nillable="true" type="q4:inTimeReqPara" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createBillHelpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/paymentSOA" minOccurs="0" name="createBillHelpResult" nillable="true" type="q5:paymentEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="paymentResultHookHelp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/paymentSOA" minOccurs="0" name="payResult" nillable="true" type="q6:inTimeEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="paymentResultHookHelpResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>