inTimePayServer/Service References/paySOAService/paymentSOA41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/paymentSOA" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/paymentSOA" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/paymentSOA/paymentSOA.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/bankService" />
  <xs:complexType name="inTimeReqPara">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReqId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="inTimeReqPara" nillable="true" type="tns:inTimeReqPara" />
  <xs:complexType name="paymentEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="paymentEntity" nillable="true" type="tns:paymentEntity" />
  <xs:complexType name="inTimeEntity">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/bankService" minOccurs="0" name="BankEnt" nillable="true" type="q1:bankEntity" />
      <xs:element minOccurs="0" name="PaymentResult" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="inTimeEntity" nillable="true" type="tns:inTimeEntity" />
</xs:schema>