bankService/Service References/paymentService/paymentService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="paymentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/paymentSOA/paymentSOA.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/paymentSOA/paymentSOA.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/paymentSOA/paymentSOA.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/paymentSOA" />
      <xsd:import schemaLocation="http://localhost/paymentSOA/paymentSOA.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/bankService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPaymentService_createBill_InputMessage">
    <wsdl:part name="parameters" element="tns:createBill" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_createBill_OutputMessage">
    <wsdl:part name="parameters" element="tns:createBillResponse" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_paymentResultHook_InputMessage">
    <wsdl:part name="parameters" element="tns:paymentResultHook" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_paymentResultHook_OutputMessage">
    <wsdl:part name="parameters" element="tns:paymentResultHookResponse" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_createBillHelp_InputMessage">
    <wsdl:part name="parameters" element="tns:createBillHelp" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_createBillHelp_OutputMessage">
    <wsdl:part name="parameters" element="tns:createBillHelpResponse" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_paymentResultHookHelp_InputMessage">
    <wsdl:part name="parameters" element="tns:paymentResultHookHelp" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_paymentResultHookHelp_OutputMessage">
    <wsdl:part name="parameters" element="tns:paymentResultHookHelpResponse" />
  </wsdl:message>
  <wsdl:portType name="IPaymentService">
    <wsdl:operation name="createBill">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentService/createBill" message="tns:IPaymentService_createBill_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentService/createBillResponse" message="tns:IPaymentService_createBill_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="paymentResultHook">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentService/paymentResultHook" message="tns:IPaymentService_paymentResultHook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentService/paymentResultHookResponse" message="tns:IPaymentService_paymentResultHook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createBillHelp">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentService/createBillHelp" message="tns:IPaymentService_createBillHelp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentService/createBillHelpResponse" message="tns:IPaymentService_createBillHelp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="paymentResultHookHelp">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentService/paymentResultHookHelp" message="tns:IPaymentService_paymentResultHookHelp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentService/paymentResultHookHelpResponse" message="tns:IPaymentService_paymentResultHookHelp_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPaymentService" type="tns:IPaymentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createBill">
      <soap:operation soapAction="http://tempuri.org/IPaymentService/createBill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="paymentResultHook">
      <soap:operation soapAction="http://tempuri.org/IPaymentService/paymentResultHook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createBillHelp">
      <soap:operation soapAction="http://tempuri.org/IPaymentService/createBillHelp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="paymentResultHookHelp">
      <soap:operation soapAction="http://tempuri.org/IPaymentService/paymentResultHookHelp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="paymentService">
    <wsdl:port name="BasicHttpBinding_IPaymentService" binding="tns:BasicHttpBinding_IPaymentService">
      <soap:address location="http://localhost/paymentSOA/paymentSOA.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>